.form_actions {
  margin-top: 24px;
}
.create-contact-form__photo-heading {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.create-contact-form__photo-heading__empty {
  flex-grow: 1;
}
