.edit-form_actions {
  margin-top: 24px;
}
.edit-contact-form__photo-heading {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.edit-contact-form__photo-heading__empty {
  flex-grow: 1;
}
