.layout {
  height: 100vh;
}

.layout__header {
  background-color: white !important;
  border: 1px solid red;
}

.layout__content {
  background-color: white !important;
  border: 1px solid red;
}

.layout__sider {
  background-color: white !important;
  border: 1px solid red;
}
