.layout {
  height: 100vh;
}

.layout__child {
  background-color: white !important;
}

.layout__header {
  background-color: white !important;
  border-bottom: 1px solid #e5e7eb;
  margin-left: 32px;
  margin-right: 32px;
}

.layout__content {
  background-color: white !important;
  padding: 24px 32px;
}

.layout__sider {
  background-color: white !important;
  border-right: 1px solid #e5e7eb;
  padding: 21px 17px;
}
